*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{

    overflow:hidden;
    background:#16181f;
    font-family:sans-serif;

}

#background{

    position:fixed;
    inset:0;

    background:#1b1d24;

}

#menu{

    position:relative;

    z-index:5;

    width:100vw;
    height:100vh;

    display:flex;
    flex-direction:column;

    justify-content:center;
    align-items:center;

    gap:60px;

}

#logo{

    width:340px;

}

.grid{

    display:grid;

    grid-template-columns:repeat(3,270px);

    gap:30px;

}

.card{

    width:270px;

    cursor:pointer;

    transition:.25s;

    border-radius:18px;

}

.card:hover{

    transform:translateY(-6px) scale(1.03);

    box-shadow:
    0 0 30px rgba(255,255,255,.15);

}

#viewer{

    position:absolute;

    inset:0;

    display:none;

    z-index:10;

    background:#0f1116;

}

#flipbook{

    width:100%;
    height:100%;

    border:none;

}

#back{

    position:absolute;

    left:30px;
    top:25px;

    z-index:999;

    padding:12px 22px;

    border:none;

    border-radius:10px;

    cursor:pointer;

    background:white;

}
